
/// Button Partial ///

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 1s;

    @include mq($break){
      padding: 10px 30px;
      
      &  + .btn {
        margin-left: 10px;
      }
 
    }
  }

  .default {
    background-color: map-get($btn-colors, "default");
  }
  
  .error {
    background-color: map-get($btn-colors, "error");
  }
  
  .info {
    background-color: map-get($btn-colors, "info");
  }
  
  .success {
    background-color: map-get($btn-colors, "success");
  }
  
  .warning {
    background-color: map-get($btn-colors, "warning");
  }

  
  @each $btn-name, $btn-color in $btn-colors{
    .#{$btn-name}:hover{
      background-color: lighten($btn-color, 15%)
    }
  } 

