/// Grid Partial ///

.container {
    padding: 0 10px;

    @include mq($break){
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;

    @include mq($break){
    flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;

    @include mq($break){
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      
      &  + [class^=col] {
        margin-left: 10px;
      }      
    }
  }

  .centered {
    @include mq($break){
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .card {
    flex-basis: 100%;
  }


/// Col class loop for flex basis adjustments

  @for $i from 1 through 12 {
    @include mq($break) {
      .col-#{$i} {
        flex-basis: ((100% / 12)* $i);
      }
    }
  }


// Color loop for each .theme-col background color

  @each $number, $color in $col-colors{
    .theme.col-#{$number}{
      background-color: $color;
    }
  }